.search-container {
  position: relative;
  margin-bottom: 40px;
  padding-top: 15px;
}

.search-field {
  width: 100%;
  padding: 7px 0;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  outline: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.search-field:not(:placeholder-shown) ~ .search-label,
.search-field:focus ~ .search-label {
  top: 0;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.search-field:focus {
  border-bottom: 2px solid #347cff;
}

.search-field:placeholder-shown::placeholder {
  color: transparent;
}

.search-label {
  position: absolute;
  top: 22px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.list-options {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 115px;
  margin: 0;
  padding: 14px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: auto;
  background: #ffffff;
  box-sizing: border-box;
}

.list-options li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-options li:not(:last-child) {
  padding-bottom: 16px;
}

.list-options li:hover,
.active-option {
  text-decoration: underline;
}
