<div class="search-container">
  <input
    type="input"
    #nameSearch
    id="name-search"
    class="search-field"
    placeholder="Name"
    [formControl]="name"
    (keydown.arrowup)="moveUp()"
    (keydown.arrowdown)="moveDown()"
    (keydown.enter)="moveEnter()"
    (keydown.esc)="close()">
  <label for="name-search" class="search-label">Name</label>
  <ul *ngIf="namesForAutocomplete?.length" class="list-options">
    <li
      *ngFor="let ship of namesForAutocomplete"
      [id]="ship.name"
      [class.active-option]="ship.name===activeNameInAutocomplete"
      (click)="selectName(ship.name)">
      {{ ship.name }}
    </li>
  </ul>
</div>
