.container {
  display: flex;
}

.ship-list-container {
  margin: 52px 64px;
  flex-grow: 1;
  flex-basis: 75%;
}

.ship-list-header {
  display: inline-block;
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.ship-container {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #a5a5a5;
}

.ship-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.ship-header {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.img-link {
  margin-left: 19px;
  vertical-align: text-top;
}

.ship-attributes {
  display: flex;
  margin: 29px 0;
}

.ship-attribute-type {
  flex-basis: 40%;
}

.ship-attribute-port {
  flex-basis: 60%;
}

.ship-attributes span {
  font-weight: 400;
}

.ship-attribute-name {
  margin-right: 10vw;
}

.ship-attribute-value {
  color: #2962ff;
}

.no-data-container {
  margin-top: 40px;
}

.filter-container {
  flex-grow: 1;
  flex-basis: 25%;
  min-height: 100vh;
  padding: 52px 33px;
  border-left: 1px solid #a5a5a5;
  box-sizing: border-box;
}
