<div class="container">
  <div class="ship-list-container">
    <h1 class="ship-list-header">SpaceX Ships</h1>
    <section class="ship-container" *ngFor="let ship of ships">
      <a
        class="ship-link"
        [routerLink]="['/ships', ship.id | lowercase]"
        [queryParams]="{ returnUrl: getUrl() }">
        <div>
          <h3 class="ship-header">
            {{ ship.name }}
          </h3>
          <img class="img-link" src="../../assets/icon-link-arrow.svg" />
        </div>
        <div class="ship-attributes">
          <div class="ship-attribute-type">
            <span class="ship-attribute-name">Тип</span>
            <span class="ship-attribute-value">{{ ship.type }}</span>
          </div>
          <div class="ship-attribute-port">
            <span class="ship-attribute-name">Порт</span>
            <span class="ship-attribute-value">{{ ship.home_port }}</span>
          </div>
        </div>
      </a>
    </section>
    <app-pagination
      *ngIf="ships.length > 0"
      [currentPage]="currentPage"
      [pageCount]="pageCount"
      (updatePageShips)="updatePageShips($event)">
    </app-pagination>
    <ng-template *ngIf="!isLoading && ships.length === 0">
      <div class="no-data-container">
        <span>Нет данных, соответствующих фильтрам</span>
      </div>
    </ng-template>
  </div>
  <section class="filter-container">
    <app-ship-filter [filters]="filters" (updateShipsByFilters)="updateShipsByFilters($event)"></app-ship-filter>
  </section>
</div>
