.filter-radio-header {
  display: inline-block;
  margin: 0;
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.radio-btn-container {
  margin-bottom: 12px;
}

.custom-radio-btn {
  position: absolute;
  opacity: 0;
}

.custom-radio-btn + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}

.custom-radio-btn + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  background-color: initial;
  box-sizing: border-box;
}

.custom-radio-btn + label:before {
  border-radius: 100%;
}

.custom-radio-btn + label:after {
  content: "";
  position: absolute;
}

.custom-radio-btn:checked + label:before {
  border-color: #2962ff;
}

.custom-radio-btn:checked + label:after {
  background-color: #2962ff;
}

.custom-radio-btn + label:after {
  left: 4px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffffff;
}

.custom-radio-btn:hover + label::before,
.custom-radio-btn:focus + label::before {
  box-shadow: 0 0 0 5px #ebf0fd;
}
