<div>
  <h3 class="filter-radio-header">Тип</h3>
  <div *ngFor="let option of options$ | async" class="radio-btn-container">
    <input
      [id]="option"
      type="radio"
      class="custom-radio-btn"
      [value]="option"
      [formControl]="type">
    <label class="radio-label" [for]="option">{{ option }}</label>
  </div>
</div>
