<h2 class="filter-header">Фильтры</h2>
<div>
  <app-search-filter
    [value]="filters.name"
    [options$]="nameOptions$"
    (updateName)="updateName($event)">
  </app-search-filter>
  <app-multiselect-dropdown
    [value]="filters.ports"
    [options$]="portOptions$"
    (updatePort)="updatePort($event)">
  </app-multiselect-dropdown>
  <app-single-select
    [value]="filters.type"
    [options$]="typeOptions$"
    (updateType)="updateType($event)">
  </app-single-select>
</div>
