.multiselect-container {
  position: relative;
  margin-bottom: 40px;
  padding-top: 15px;
}

.multiselect-btn {
  position: relative;
  width: 100%;
  height: 34px;
  padding: 7px 0;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  outline: 0;
  appearance: none;
  cursor: pointer;
}

.multiselect-btn:focus,
.multiselect-btn-open {
  border-color: #347cff;
}

.multiselect-name {
  position: absolute;
  z-index: -1;
  top: 22px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  user-select: none;
}

.selected {
  top: 0;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.multiselect-selected {
  position: absolute;
  top: 7px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.2s;
  user-select: none;
}

.list-options {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 120px;
  margin: 0;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: #ffffff;
}

.list-options li {
  padding: 5px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul li:not(:last-child) {
  margin-bottom: 3px;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
}

.custom-checkbox:hover + label::before,
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 5px #ebf0fd;
}

.custom-checkbox + label {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-left: 28px;
  box-sizing: border-box;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  background-color: initial;
  box-sizing: border-box;
}

.custom-checkbox + label:before {
  border-radius: 2px;
}

.custom-checkbox + label:after {
  content: "";
  position: absolute;
}

.custom-checkbox:checked + label:before {
  border-color: #2962ff;
  background-color: #2962ff;
}

.custom-checkbox + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 6px;
  border-radius: 1px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
