<div class="multiselect-container">
  <button
    type="button"
    class="multiselect-btn"
    [class.multiselect-btn-open]="isOpen"
    (click)="activeDropdown()"
    (keydown.esc)="close()">
    <span class="multiselect-selected">{{ getNumOfSelectedItemsToString() }}</span>
  </button>
  <span class="multiselect-name" [class.selected]="numOfSelectedItems > 0">Порт</span>
  <div>
    <ul [hidden]="!isOpen" class="list-options" [formGroup]="multiselect">
      <li *ngFor="let option of options$ | async">
        <input
          [id]="option"
          type="checkbox"
          class="custom-checkbox"
          [value]="option"
          name="port"
          [formControlName]="option">
        <label class="" [for]="option">{{ option }}</label>
      </li>
    </ul>
  </div>
</div>
