.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination li {
  float: left;
  margin-right: 18px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.pagination a {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
}

.current-page {
  cursor: default;
}

.disabled {
  pointer-events: none;
}
