<ul class="pagination">
  <li>
    <a
      [routerLink]="['/ships']"
      [queryParams]="{ page: currentPage - 1 }"
      queryParamsHandling="merge"
      [class.disabled]="currentPage === 1"
      (click)="updatePageShips.emit(currentPage - 1)">
      <app-svg-icon-arrow
        direction="left"
        [disabled]="currentPage === 1">
      </app-svg-icon-arrow>
    </a>
  </li>
  <li class="current-page">{{ currentPage }}</li>
  <li>
    <a
      [routerLink]="['/ships']"
      [queryParams]="{ page: currentPage + 1 }"
      queryParamsHandling="merge"
      [class.disabled]="currentPage === pageCount"
      (click)="updatePageShips.emit(currentPage + 1)">
      <app-svg-icon-arrow
        direction="right"
        [disabled]="currentPage === pageCount">
      </app-svg-icon-arrow>
    </a>
  </li>
</ul>
