.container {
  margin: 48px 64px;
}

.link-back-container {
  margin-bottom: 22px;
}

.link-back {
  text-decoration: none;
}

.link-img {
  width: 10px;
  margin-right: 8px;
  transform: rotate(180deg);
}

.link-back-text {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #2962ff;
}

.ship-header {
  display: inline-block;
  margin: 0;
  margin-bottom: 53px;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.ship-container span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.ship-attributes-block {
  display: flex;
  flex-wrap: wrap;
}

.ship-attributes-block div {
  display: flex;
  margin-bottom: 40px;
}

.ship-attribute-column-1 {
  flex-basis: 35%;
}

.ship-attribute-column-1 .ship-attribute-name {
  flex-basis: 30%;
}

.ship-attribute-column-1 .ship-attribute-value {
  flex-basis: 70%;
}

.ship-attribute-column-2 {
  flex-basis: 65%;
}

.ship-attribute-column-2 .ship-attribute-name {
  flex-basis: 16%;
}

.ship-attribute-column-2 .ship-attribute-value {
  flex-basis: 84%;
}

.ship-attribute-value {
  color: #2962ff;
}

.ship-container-missions-value {
  width: 50vw;
}

.ship-attribute-missions {
  display: block;
  margin-bottom: 22px;
}
