<div class="container">
  <div class="link-back-container">
    <a
      class="link-back"
      (click)="navigateBack()">
      <img class="link-img" src="../../assets/icon-link-arrow.svg" />
      <span class="link-back-text">Вернуться</span>
    </a>
  </div>
  <section *ngIf="!isLoading" class="ship-container">
    <h1 class="ship-header">{{ ship?.name }}</h1>
    <div class="ship-attributes-block">
      <div class="ship-attribute-column-1">
        <span class="ship-attribute-name">Тип</span>
        <span class="ship-attribute-value">{{ ship?.type }}</span>
      </div>
      <div class="ship-attribute-column-2">
        <span class="ship-attribute-name">Порт</span>
        <span class="ship-attribute-value">{{ ship?.home_port }}</span>
      </div>
      <div class="ship-attribute-column-1">
        <span class="ship-attribute-name">Модель</span>
        <span *ngIf="ship?.model; else elseBlock" class="ship-attribute-value">{{ ship?.model }}</span>
        <ng-template #elseBlock>
          <span class="ship-attribute-value">-</span>
        </ng-template>
      </div>
      <div class="ship-attribute-column-2">
        <span class="ship-attribute-name">Год</span>
        <span class="ship-attribute-value">{{ ship?.year_built }}</span>
      </div>
    </div>
    <span class="ship-attribute-missions">Миссии</span>
    <div class="ship-container-missions-value">
      <span
        *ngFor="let item of ship?.missions; let isLast=last"
        class="ship-attribute-value">
          {{ item.name }}{{ isLast ? '' : ', ' }}
      </span>
    </div>
  </section>
</div>
